*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 17vh;
    background-color: #140f3d;
}

nav{
    position: relative;
    width: 524px;
    height: 50px;
    background-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 189px;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #6d00b6,#087bff);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span{
    left: 0;
}

nav a:nth-child(2):hover~span{
    left: 95px;
}

nav a:nth-child(3):hover~span{
    left: 189px;
    width: 110px;
}

nav a:nth-child(4):hover~span{
    left: 289px;
    width: 115px;
}

nav a:nth-child(5):hover~span{
    left: 415px;
    width: 110px;
}

.card1, .card2, .card3{
    width: 24%;
    height: 400px;
    background-color: #190f66;
    border-radius: 10px 10px 0 0;
    margin: 20px;
    margin-top: 4%;
}

.projetos img{
    width: 100%;
    height: 75%;
    border-radius: 8px 8px 0 0;
}



.cards1{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
}

.cards1{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
}

.cards1{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
}

.btn{
    margin-top: 20px;
   width: 90px;
   height: 40px;
   border-radius: 8px;
   background-color: #000000;
   color: white;
   cursor: pointer;
   transition: .5s;
}

.btn:hover{
    transform:scale(1.1);
    color: rgb(30, 255, 0);
}

.card4, .card5{
    width: 24%;
    height: 400px;
    background-color: #190f66;
    border-radius: 10px 10px 0 0;
    margin: 20px;
    margin-top: 3%;
}

.cards2{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
}

.cards2{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
}

.cards2{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
} 

